SDL2/bin/sdl2-config filter=lfs diff=lfs merge=lfs -text
SDL2/bin/SDL2.dll filter=lfs diff=lfs merge=lfs -text
SDL2/bin/SDL2_image.dll filter=lfs diff=lfs merge=lfs -text
SDL2/bin/SDL2_mixer.dll filter=lfs diff=lfs merge=lfs -text
SDL2/bin/SDL2_ttf.dll filter=lfs diff=lfs merge=lfs -text
